<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @employee.firstName %></h1>
    <a href="<%= url_for :action => :show, :id => @employee.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @employee.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @employee.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="employee[firstName]" class="fieldLabel">Firstname</label>
            <input type="text" id="employee[firstName]" name="employee[firstName]" value="<%= @employee.firstName %>" <%= placeholder( "Firstname" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[lastName]" class="fieldLabel">Lastname</label>
            <input type="text" id="employee[lastName]" name="employee[lastName]" value="<%= @employee.lastName %>" <%= placeholder( "Lastname" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[dob]" class="fieldLabel">Dob</label>
            <input type="text" id="employee[dob]" name="employee[dob]" value="<%= @employee.dob %>" <%= placeholder( "Dob" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[startDate]" class="fieldLabel">Startdate</label>
            <input type="text" id="employee[startDate]" name="employee[startDate]" value="<%= @employee.startDate %>" <%= placeholder( "Startdate" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[endDate]" class="fieldLabel">Enddate</label>
            <input type="text" id="employee[endDate]" name="employee[endDate]" value="<%= @employee.endDate %>" <%= placeholder( "Enddate" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[status]" class="fieldLabel">Status</label>
            <input type="text" id="employee[status]" name="employee[status]" value="<%= @employee.status %>" <%= placeholder( "Status" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
