<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @employee.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @employee.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="employee[firstName]" class="fieldLabel">Firstname</label>
            <input type="text" id="employee[firstName]" name="employee[firstName]" <%= placeholder("Firstname") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[lastName]" class="fieldLabel">Lastname</label>
            <input type="text" id="employee[lastName]" name="employee[lastName]" <%= placeholder("Lastname") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[dob]" class="fieldLabel">Dob</label>
            <input type="text" id="employee[dob]" name="employee[dob]" <%= placeholder("Dob") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[startDate]" class="fieldLabel">Startdate</label>
            <input type="text" id="employee[startDate]" name="employee[startDate]" <%= placeholder("Startdate") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[endDate]" class="fieldLabel">Enddate</label>
            <input type="text" id="employee[endDate]" name="employee[endDate]" <%= placeholder("Enddate") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="employee[status]" class="fieldLabel">Status</label>
            <input type="text" id="employee[status]" name="employee[status]" <%= placeholder("Status") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
