<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 target-densitydpi=medium-dpi, user-scalable=0" />
<script type="text/javascript" charset="utf-8" src="/public/api/rhoapi-modules.js"></script>
<link rel="stylesheet" href="/public/css/template.css">
<link rel="stylesheet" href="../../public/css/template.css">
<style>
#imgWrapper {
  text-align: center;
}
</style>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">FirstName</div>
            <div class="itemValue"><%= @employee.firstName %></div>
          </li>
      
          <li>
            <div class="itemLabel">LastName</div>
            <div class="itemValue"><%= @employee.lastName %></div>
          </li>
      
          <li>
            <div class="itemLabel">Phone</div>
            <div class="itemValue"><%= @employee.phone %></div>
          </li>
      
          <li>
            <div class="itemLabel">StartDate</div>
            <div class="itemValue"><%= @employee.startDate %></div>
          </li>
      
          <li>
            <div class="itemLabel">EndDate</div>
            <div class="itemValue"><%= @employee.endDate %></div>
          </li>
      
          <li>
            <div class="itemLabel">Status</div>
            <div class="itemValue"><%= @employee.status %></div>
          </li>

          <div id="imgWrapper">
            <img id="previewImg" src="<%= Rho::Application.expandDatabaseBlobFilePath(@employee.image) %>" />
          </div>
      
    </ul>
  </div>

</div>
